#mapa{
    display: inline-block;
    background-color: black;
}
#mapa>div {
    float:left;
    width: 20px;
    height: 20px;
}
.newLine {
    clear:both;
}
.wall {
    background-color:blue;
}
.food{
    color:white;
}
